*{
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    background-color: black;
}

img {
    border-radius: 8px;
    padding: 5px;
    margin-top: 50px;
    border: 4px solid deeppink;
  }
  
div > h1 {
    border: 5 px dashed lightcoral;
}

div > a {
   
    text-align: center;
    width: 200px;
    border: 4px dotted plum;
    padding: 20px;  
    margin: 20px;
}


div > p {
    text-align: center;
    color: lightcoral;
    font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
    font-size: 20px;
}

 ul > li {
    text-align: left;
    color: deeppink;
    font-family: 'Times New Roman', 'Lucida Sans Regular', Verdana, sans-serif;
}

div > h2 {
    text-align: left;
    color: darkslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

p > h3 {
    text-align: left;
    color: darkslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

hr {
border-top: 3px solid blueviolet;
  border-radius: 95px;
}

.all {
    border: 1px dotted palevioletred;
}

.indenting {
    text-indent: 50px;
}

.indent {
    text-indent: 50px;
}

.git {
    width: 200px;
}