*{
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    background-color: black;
}

div > a{
    width: 300px;
    border: 5px dotted plum;
    padding: 50px;
    margin-top: 50px;   
    margin: 20px;
}

